# The `Series` Datastructure

In [1]:
import pandas as pd

In [10]:

students=['Abderrahim',"Alice","Anna"]

serie=pd.Series(students)
serie

0    Abderrahim
1         Alice
2          Anna
dtype: object

In [15]:
number=[1,2,3]
for i in pd.Series(number):
    print(i)


#  panda stores series values in a 
# typed array using the Numpy library
# This offers significant speedup when processing data 
# versus traditional python lists.

1
2
3

In [17]:
students=['Abderrahim','hassan',None]

pd.Series(students)

0    Abderrahim
1        hassan
2          None
dtype: object

In [19]:
# , if we create a list of numbers, integers or floats, and put in the None type,
# pandas automatically converts this to a special floating point value designated as NaN, 
# which stands for "Not a Number".

numbers=[1,2,None]
pd.Series(numbers)
# pandas represents NaN as a floating point number

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
record1=pd.Series({
    'name':'Alice',
    'class':"Physics",
    'score':85
})
record2=pd.Series({
    'name':'Abderrahim',
    'class':"Math",
    'score':65
})
record3=pd.Series({
    'name':'Anna',
    'class':"English",
    'score':78
})

In [5]:
record1

name       Alice
class    Physics
score         85
dtype: object