# The python Programming Language: Functions

In [2]:
x=1
y=2
x+y

3

In [3]:
x

1

In [4]:
def add_numbers(x,y,z):
    return x+y+z


add_numbers(1,2,3)

6

In [6]:
def add_numbers(x,y,z=None):
    if (z==None) :
        return x+y
    else:
        return x+y+z

add_numbers(1,2)

3

# The Python Programming Language: Types and Sequences

In [ ]:
type('This is a string')

:

In [8]:
type(None)

NoneType

In [9]:
type(1)

int

In [10]:
type(1.0)

float

In [11]:
type(add_numbers)

function

Tuples are an immutable data structure (cannot be altered).

In [13]:
x=(1,'a',2,'b')
type(x)

tuple

Lists are a mutable data structure.

In [15]:
x = [1, 'a', 2, 'b']
type(x)

list

In [16]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [17]:
for item in x:
    print(item)

1
a
2
b
3.3

In [18]:
# Or using the indexing operator:
i = 0
while (i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

Use `+` to concatenate lists.

In [19]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

Use `*` to repeat lists.

In [20]:
[1] * 3

[1, 1, 1]

Use the `in` operator to check if something is inside a list.

In [22]:
1 in [1, 2, 3]

True

In [4]:
# Now let's look at strings. Use bracket notation to slice a string.


x='This is a string'


print(x[0]) #first character 
print(x[0:1]) ##first character, but we have explicitly set the end character
print(x[0:2])   #first two characters

T
T
Th

In [10]:
# this will return the last character 
print(x[-1])

# this will start from the fourth element from the end and stop before the second element from the end
x[-4:-2]
# this is a slace starting from the beginning and stops before the 4 th element of the string 4
x[:4]

# And this is a slice start from the 4th element and gpoing all the way to the end of the string
x[3:]

g

's is a string'

In [15]:
fName= 'Christopher'
lName="Brooks"
print(fName+' '+lName)
print(fName*3)
print('Chris' in fName)

Christopher Brooks
ChristopherChristopherChristopher
True

`split` returns a list of all the words in a string, or a list split on a specific character.

In [19]:
firstName='Christopher Arthur Hansen Brooks'.split(' ')[0]
lastName='Christopher Arthur Hansen Brooks'.split(' ')[-1]

In [20]:
print(firstName)
print(lastName)

Christopher
Brooks

In [22]:
# Make sure you convert objects to strings before concatenating.
'chris'+str(2)

'chris2'

In [23]:
x={'Christopher brooks':'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher brooks']

'brooksch@umich.edu'

In [24]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

Iterate over all of the keys:

In [27]:
for i in x:
    print(x[i])

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all of the values:

In [28]:
for value in x.values():
    print(value)

brooksch@umich.edu
billg@microsoft.com
None

Iterate over all of the items in the list:

In [31]:
for name,email in x.items():
    print(name,"------ ",email)

Christopher brooks ------  brooksch@umich.edu
Bill Gates ------  billg@microsoft.com
Kevyn Collins-Thompson ------  None

In [32]:
# Unpaking 
# You can unpack a sequence in different  variables :
x=('Christopher','Brooks',"Christopher.brooks@gmail.com")
fname,lname,email=x

In [37]:
fname
lname
email

'Christopher.brooks@gmail.com'

In [38]:
# Make sure the number of values you are unpacking matches the number of 
# variables being assigned.
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

# The Python Programming Language: More on Strings

In [39]:
print('Chris' +2)

TypeError: can only concatenate str (not "int") to str

In [40]:
print('Chris' +str(2))

Chris2

In [47]:
sales_record={
"price":3.24,
    'num_items':44,
    'person':'Chris'}


sales_statement='{} bought {} item(s) at a price of {} each for a total of {} dh'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                             sales_record['price'],
                             sales_record['price']*sales_record['num_items']
                            ))

Chris bought 44 item(s) at a price of 3.24 each for a total of 142.56 dh

# The Python Programming Language: Date and time

In [5]:
import datetime as dt
import time as tm

In [4]:
# return the number of seconds since the EPOCH : 1er janvier 1970

tm.time()

1718191839.1242046

In [9]:

dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2024, 6, 12, 12, 36, 21, 26393)

In [16]:
# that's a tuple
dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2024, 6, 12, 12, 36, 21)

In [17]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [18]:
today= dt.date.today()

In [19]:
today-delta

datetime.date(2024, 3, 4)

In [23]:
today > (today-delta)

True

# The Python Programming Language: Objects and map()

In [26]:
class Person:
    departement="School of code"
    def set_name(self,new_name):
        self.name=new_name

    def set_location(self,new_location):
        self.location=new_location

In [27]:
person=Person()
person.set_location("My home")
person.set_name("abderahim elouady")

In [29]:
print("i live in {} ,my name is {} and i work in {}1.".format(person.location,person.name,person.departement))

i live in My home ,my name is abderahim elouady and i work in School of code1.

Here's an example of mapping the `min` function between two lists.

In [3]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]

cheapest=map(min,store1,store2)
cheapest
# leazy evaluation

map

In [8]:
for i in cheapest:
    print(i)

9.0
11.0
12.34
2.01

 when we go to print out the map, we see that we get an odd reference value instead of a list of items that we're expecting. This is called lazy evaluation. In Python, the map function returns to you a map object. It doesn't actually try and run the function min on two items, until you look inside for a value. This is an interesting design pattern of the language, and it's commonly used when dealing with big data.

In [7]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']


# my solution
# def split_title_and_name(person):
#     return person.split(' ')[0] + person.split(' ')[2]
# # its better to put -1 in the split cz in some times the nume is composed of more than two
# return person.split(' ')[0] + person.split(' ')[-1]

# there solution
def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# The Python Programming Language: Lambda and List Comprehensions

In [3]:
myfunction=lambda a,b:a+b
myfunction(1,2)

3

In [7]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

# Option 1
for person in people:
    print(split_title_and_name(person) == (lambda p: p.split()[0] + ' ' + p.split()[-1])(person))

# Option 2
print(list(map(split_title_and_name, people)) == list(map(lambda p: p.split()[0] + ' ' + p.split()[-1], people)))

True
True
True
True
True

Option 1:

The for loop iterates over each person in the people list.
The split_title_and_name(person) function call is compared to the lambda function lambda p: p.split()[0] + ' ' + p.split()[-1](person).
The lambda function takes the same person input and returns the same output as split_title_and_name.
The corrected comparison ensures each iteration prints True if the function and lambda produce the same result.

Option 2:

The map function applies split_title_and_name to each item in the people list.
Similarly, map applies the lambda function to each item in the people list.
The comparison checks if both lists produced by map are equal.